/* Google fonts (NB: load før :root) */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Cinzel:wght@700&family=Jost:wght@300&family=Montserrat:wght@300&display=swap');
:root {
  /* farver */
  --white: #ffffff;
  --black: #000000;
  --blue: #19222a;
  --yellow: #EAA73B;
  --red: #5c1e1e;

  /* fonte */
  --font: 'Montserrat', sans-serif; /* brødtekst */
  --displayH: 'Montserrat', sans-serif; /* overskrifter */
}

/* --------------- Mobile enheder --------------- */
@media only screen and (max-width: 414px) {

  /* Vis burgeren */
    #burger {
      position: absolute;
      width: 10vw;
      top: 4vw;
      left: 6vw;
      z-index: 5;
    }

  /* Skjul menuen */
    .menupunkter {
      display: none;
    }

    /* --------------- Logo i header --------------- */

    #logo {
      position: absolute;
      width: 40vw;
      left: 37vw;
      top: 0.8vw;
      z-index: 2;
    }

/* --------------- Parallax effekt --------------- */

.parallax {
  position: absolute;
  top: 247.5vw;
  left: 0vw;
  width: 100%;
  }

  #baggrund {
    display: none;
  }

  #baggrund2 {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
        z-index: 1;
  }

  /* --------------- jolly cola afsnit --------------- */

  #lightbillede {
    position: absolute;
    width: 80%;
    top: 30vw;
    left: 11vw;
    z-index: 1;
  }

  #lightoverskrift {
    text-align: center;
    top: 112vw;
    font-size: 5vw;
    color: var(--white);
    left: 15vw;
    z-index: 1;
  }

  #lighttekst {
    text-align: left;
    line-height: 2.3;
    top: 129vw;
    font-size: 3.1vw;
    color: var(--white);
    padding-right: 10vw;
    padding-left: 10vw;
    z-index: 1;
  }

  #knap1 {
    position: absolute;
    width: 50%;
    left: 25vw;
    top: 218vw;
    z-index: 1;
  }

  /* --------------- Ingredienser --------------- */

  #ingrediens-overskrift {
    text-align: right;
    line-height: 2.3;
    top: 300vw;
    font-size: 5vw;
    color: var(--white);
    right: 33%;
      z-index: 1;
  }

  #ingredienser {
    text-align: center;
    line-height: 2.3;
    top: 313vw;
    font-size: 3.1vw;
    color: var(--white);
    padding-right: 10%;
    padding-left: 10%;
      z-index: 1;
  }

  /* --------------- Flere varianter --------------- */

  #flerevarianter {
    text-align: center;
    line-height: 2.3;
    top: 340vw;
    font-size: 5vw;
    color: var(--white);
    left: 33%;
      z-index: 1;
  }

  #jollyabrikos {
    position: absolute;
    width: 80%;
    top: 355vw;
    left: 11vw;
    z-index: 1;
  }

  #jollyeksotisk {
    position: absolute;
    width: 80%;
    top: 465vw;
    left: 11vw;
    z-index: 1;
  }

  #jollytime {
    position: absolute;
    width: 80%;
    top: 575vw;
    left: 11vw;
    z-index: 1;
  }

  #abrikostekst {
    display: none;
  }

  #eksotisktekst {
    display: none;
  }

  #timetekst {
    display: none;
  }

  /* --------------- Knapper --------------- */

  #knap2 {
    position: absolute;
    width: 50%;
    left: 25vw;
    top: 440vw;
    z-index: 1;
  }

  #knap3 {
    position: absolute;
    width: 50%;
    left: 25vw;
    top: 550vw;
    z-index: 1;
  }

  #knap4 {
    position: absolute;
    width: 50%;
    left: 25vw;
    top: 660vw;
    z-index: 1;
  }

  /* --------------- Footer starter her --------------- */

  #slutlogo {
    position: absolute;
    left: 35%;
    width: 30%;
    top: 725vw;
    z-index: 1;
  }

  #kontakt {
    top: 750vw;
    text-align: left;
    font-size: 7vw;
    color: var(--white);
    left: 36vw;
    z-index: 1;
  }

  #find-os {
    top: 840vw;
    text-align: left;
    font-size: 7vw;
    color: var(--white);
    left: 37vw;
    z-index: 1;
  }

  #information {
    top: 900vw;
    text-align: left;
    font-size: 7vw;
    color: var(--white);
    left: 27vw;
    z-index: 1;
  }

  #kontaktliste {
    position: absolute;
    width: 70vw;
    list-style: none;
    font-family: var(--font);
    top: 763vw;
    text-align: center;
    font-size: 5vw;
    color: var(--white);
    left: 5vw;
    z-index: 1;
  }

  #findosliste {
    position: absolute;
    width: 70vw;
    list-style: none;
    font-family: var(--font);
    top: 855vw;
    text-align: center;
    font-size: 5vw;
    color: var(--white);
    left: 3.5vw;
    z-index: 1;
  }

  #informationsliste {
    position: absolute;
    width: 70vw;
    list-style: none;
    font-family: var(--font);
    top: 915vw;
    text-align: center;
    font-size: 5vw;
    color: var(--white);
    left: 4vw;
    z-index: 1;
  }

  #facebook {
    width: 5vw;
    vertical-align: middle;
      z-index: 1;
  }

  #instagram {
    width: 5vw;
    vertical-align: middle;
      z-index: 1;
  }

}











/* --------------- Stor skærm-version --------------- */
@media only screen and (min-width: 415px) {

  #baggrund2 {
    display: none;
  }

  #burger {
    display: none;
  }

#baggrund {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
    z-index: 1;
}

/* --------------- Parallax effekt --------------- */

.parallax {
  position: fixed;
  top: 0vw;
  left: 0vw;
  width: 100%;

}

/* --------------- Logo i header --------------- */

#logo {
  position: absolute;
  width: 10vw;
  left: 45vw;
  top: 0.8vw;
  z-index: 2;
}

/* --------------- jolly light afsnit --------------- */

#lightbillede {
  position: absolute;
  width: 35%;
  top: 7vw;
  left: 6vw;
  z-index: 1;
}

#lightoverskrift {
  text-align: center;
  top: 11vw;
  font-size: 2.8vw;
  color: var(--white);
  padding-right: 9%;
  padding-left: 60%;
    z-index: 1;
}

#lighttekst {
  text-align: left;
  line-height: 2.3;
  top: 20vw;
  font-size: 1vw;
  color: var(--white);
  padding-right: 5%;
  padding-left: 58%;
    z-index: 1;
}

/* --------------- Ingredienser --------------- */

#ingrediens-overskrift {
  text-align: right;
  top: 97vw;
  font-size: 2.8vw;
  color: var(--white);
  right: 40%;
    z-index: 1;
}

#ingredienser {
  text-align: center;
  line-height: 2.3;
  top: 103vw;
  font-size: 1vw;
  color: var(--white);
  padding-right: 30%;
  padding-left: 30%;
    z-index: 1;
}

#knap1 {
  position: absolute;
  width: 12%;
  left: 71vw;
  top: 41vw;
    z-index: 1;
}

#knap1:hover {
  transform: scale(1.1);
}

/* --------------- Flere varianter --------------- */

#flerevarianter {
  text-align: center;
  line-height: 2.3;
  top: 110vw;
  font-size: 2.8vw;
  color: var(--white);
  left: 41.5%;
    z-index: 1;
}

#jollyabrikos {
  position: absolute;
  width: 25%;
  top: 118vw;
  left: 6vw;
  z-index: 1;
}

#jollyabrikos:hover {
  transform: scale(1.05);
}

#jollyeksotisk {
  position: absolute;
  width: 25%;
  top: 118vw;
  left: 38vw;
  z-index: 1;
}

#jollyeksotisk:hover {
  transform: scale(1.05);
}

#jollytime {
  position: absolute;
  width: 25%;
  top: 118vw;
  right: 6vw;
  z-index: 1;
}

#jollytime:hover {
  transform: scale(1.05);
}

#abrikostekst {
  text-align: center;
  line-height: 2.3;
  top: 142vw;
  font-size: 1.5vw;
  color: var(--white);
  left: 13vw;
    z-index: 1;
}

#eksotisktekst {
  text-align: center;
  line-height: 2.3;
  top: 142vw;
  font-size: 1.5vw;
  color: var(--white);
  left: 46vw;
    z-index: 1;
}

#timetekst {
  text-align: center;
  line-height: 2.3;
  top: 142vw;
  font-size: 1.5vw;
  color: var(--white);
  left: 78vw;
    z-index: 1;
}

/* --------------- Knapper --------------- */

#knap2 {
  position: absolute;
  width: 12%;
  left: 11.5vw;
  top: 147.5vw;
    z-index: 1;
}

#knap2:hover {
  transform: scale(1.1);
}

#knap3 {
  position: absolute;
  width: 12%;
  left: 45vw;
  top: 147.5vw;
    z-index: 1;
}

#knap3:hover {
  transform: scale(1.1);
}

#knap4 {
  position: absolute;
  width: 12%;
  left: 75vw;
  top: 147.5vw;
    z-index: 1;
}

#knap4:hover {
  transform: scale(1.1);
}

/* --------------- Footer starter her --------------- */

#slutlogo {
  position: absolute;
  left: 45%;
  width: 10%;
  top: 163vw;
    z-index: 1;
}

#kontakt {
  top: 169vw;
  text-align: left;
  font-size: 2vw;
  color: var(--white);
  right: 85.5vw;
  z-index: 1;
}

#find-os {
  top: 169vw;
  text-align: left;
  font-size: 2vw;
  color: var(--white);
  left: 45%;
    z-index: 1;
}

#information {
  top: 169vw;
  text-align: left;
  font-size: 2vw;
  color: var(--white);
  right: 6%;
    z-index: 1;
}

#kontaktliste {
  position: absolute;
  width: 20vw;
  list-style: none;
  font-family: var(--font);
  top: 174vw;
  text-align: left;
  font-size: 1.2vw;
  color: var(--white);
  right: 73vw;
    z-index: 1;
}

#findosliste {
  position: absolute;
  list-style: none;
  top: 174vw;
  text-align: left;
  font-size: 1.2vw;
  right: 42vw;
    z-index: 1;
}

#informationsliste {
  position: absolute;
  list-style: none;
  top: 174vw;
  text-align: left;
  font-size: 1.2vw;
  right: 10vw;
    z-index: 1;
}

#facebook {
  width: 2vw;
  vertical-align: middle;
    z-index: 1;
}

#instagram {
  width: 2vw;
  vertical-align: middle;
    z-index: 1;
}






}

/* --------------- Generel Styling --------------- */

body, html {
  height: 100%;
}

#baggrund {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
    z-index: 1;
}

/* --------------- font-indstillinger --------------- */

h2 {
  position: absolute;
  font-family: var(--font);
}

h3 {
  position: absolute;
  font-family: var(--font);
}

/* --------------- Menupunkter --------------- */
a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--font);
}

a:hover {
  text-decoration: none;
}

ul {
  line-height:280%
}

.menuknap1 {
  color: var(--white);
  font-size: 1.2vw;
  top: 3vw;
  height: 5vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu1 {
      top: 2vw;
      left: 5vw;
      position: absolute;
        z-index: 1;
    }

    .menu1:hover .menuknap1 {color: var(--red);}

.menuknap2 {
  color: var(--white);
  font-size: 1.2vw;
  height: 5vw;
  width: 9vw;
  top: 3vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu2 {
      top: 2vw;
      left: 25vw;
      position: absolute;
      width: 7vw;
      display: inline-block;
        z-index: 1;
    }

    .menu2:hover .menuknap2 {color: var(--red);}

.menuknap3 {
  color: var(--white);
  top: 3vw;
  height: 5vw;
  font-size: 1.2vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu3 {
      top: 2vw;
      right: 25vw;
      position: absolute;
      display: inline-block;
        z-index: 1;
    }

    .menu3:hover .menuknap3 {color: var(--red);}

.menuknap4 {
  color: var(--white);
  top: 3vw;
  height: 5vw;
  font-size: 1.2vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu4 {
      top: 2vw;
      right: 5vw;
      position: absolute;
      display: inline-block;
        z-index: 1;
    }

    .menu4:hover .menuknap4 {color: var(--red);}
