@import 'reset.css';
/* Google fonts (NB: load før :root) */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Cinzel:wght@700&family=Jost:wght@300&family=Montserrat:wght@300&display=swap');
:root {
  /* farver */
  --white: #ffffff;
  --black: #000000;
  --blue: #19222a;
  --yellow: #EAA73B;
  --red: #5c1e1e;

  /* fonte */
  --font: 'Montserrat', sans-serif; /* brødtekst */
  --displayH: 'Montserrat', sans-serif; /* overskrifter */
}


/* --------------- Mobile enheder --------------- */
@media only screen and (max-width: 414px) {

/* Vis burgeren */
  #burger {
    position: absolute;
    width: 10vw;
    top: 4vw;
    left: 6vw;
    z-index: 5;
  }

/* Skjul menuen */
  .menupunkter {
    display: none;
  }

  #baggrund {
    display: none;
  }

}








/* --------------- Stor skærm-version --------------- */

@media only screen and (min-width: 415px) {

#burger {
  display: none;
}

#baggrund2 {
  display: none;
}
}












/* --------------- Generel Styling --------------- */

body, html {
  height: 100%;
  margin: 0;
}

#baggrund {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}

#baggrund2 {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}











/* --------------- Logo i header --------------- */

#logo {
  position: absolute;
  width: 10vw;
  left: 45vw;
  top: 0.8vw;
  z-index: 2;
}

/* --------------- Menupunkter --------------- */
a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--font);
}

a:hover {
  text-decoration: none;
}

.menuknap1 {
  color: var(--white);
  font-size: 1.2vw;
  top: 3vw;
  height: 5vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu1 {
      left: 5vw;
      position: absolute;
        z-index: 1;
    }

    .menu1:hover .menuknap1 {color: var(--red);}

.menuknap2 {
  color: var(--white);
  font-size: 1.2vw;
  height: 5vw;
  width: 9vw;
  top: 3vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu2 {
      left: 25vw;
      position: absolute;
      width: 7vw;
      display: inline-block;
        z-index: 1;
    }

    .menu2:hover .menuknap2 {color: var(--red);}

.menuknap3 {
  color: var(--white);
  top: 3vw;
  height: 5vw;
  font-size: 1.2vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu3 {
      right: 25vw;
      position: absolute;
      display: inline-block;
        z-index: 1;
    }

    .menu3:hover .menuknap3 {color: var(--red);}

.menuknap4 {
  color: var(--white);
  top: 3vw;
  height: 5vw;
  font-size: 1.2vw;
  border: none;
  background-color: transparent;
  font-family: var(--font);
}

    .menu4 {
      right: 5vw;
      position: absolute;
      display: inline-block;
        z-index: 1;
    }

    .menu4:hover .menuknap4 {color: var(--red);}

/* --------------- font-indstillinger --------------- */

    h2 {
      position: absolute;
      font-family: var(--font);
    }

    h3 {
      position: absolute;
      font-family: var(--font);
    }

    ul {
      line-height:280%
    }

    #m-tekst {
      color: var(--white);
      top: 7vw;
      font-size: 1.8vw;
      font-family: var(--font);
      left: 42.7vw;
    }

    #k-tekst {
      position: absolute;
      color: var(--white);
      top: 12vw;
      font-size: 1vw;
      line-height: 2.3;
      font-family: var(--font);
      padding-left: 20vw;
      padding-right: 20vw;
      text-align: center;
    }

    #status1 {
      position: absolute;
      z-index: 1;
      width: 20vw;
      left: 5vw;
      top: 37vw;
    }

    #status2 {
      position: absolute;
      z-index: 1;
      width: 20vw;
      left: 28vw;
      top: 37vw;
    }

    #status3 {
      position: absolute;
      z-index: 1;
      width: 20vw;
      left: 51vw;
      top: 37vw;
    }

    #status4 {
      position: absolute;
      z-index: 1;
      width: 20vw;
      left: 74vw;
      top: 37vw;
    }

    #følgere {
      color: var(--white);
      top: 30vw;
      font-size: 1.8vw;
      font-family: var(--font);
      left: 34vw;
    }

    /* --------------- Footer starter her --------------- */

    #slutlogo {
      position: absolute;
      left: 45%;
      width: 10%;
      top: 88vw;
    }

    #kontakt {
      top: 94vw;
      text-align: left;
      font-size: 2vw;
      color: var(--white);
      right: 85.5vw;
    }

    #find-os {
      top: 94vw;
      text-align: left;
      font-size: 2vw;
      color: var(--white);
      left: 45%;
    }

    #information {
      top: 94vw;
      text-align: left;
      font-size: 2vw;
      color: var(--white);
      right: 6%;
    }

    #kontaktliste {
      position: absolute;
      width: 20vw;
      list-style: none;
      font-family: var(--font);
      top: 99vw;
      text-align: left;
      font-size: 1.2vw;
      color: var(--white);
      right: 73.4vw;
    }

    #findosliste {
      position: absolute;
      list-style: none;
      top: 99vw;
      text-align: left;
      font-size: 1.2vw;
      right: 41vw;
    }

    #informationsliste {
      position: absolute;
      list-style: none;
      top: 99vw;
      text-align: left;
      font-size: 1.2vw;
      right: 12vw;
    }

    #facebook {
      width: 2vw;
      vertical-align: middle;
    }

    #instagram {
      width: 2vw;
      vertical-align: middle;
    }
